@(message: String)
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    </head>
    <body>
            <!-- HEADER BEGIN -->
        <div id="header">
            <div class="inner">
                <div class="section_top">
                    <div class="block_top_text">
                        <p>Welcome to Time Spot Server 1.0</p>
                    </div>
                    <div class="site_top_links">
                        <ul>
                            <li><a name="sign_pop">Войти</a></li>
                            <li><a name="reg_pop">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
                <div class="section_bottom">
                    <div id="title_top">
                        <p><a href="@routes.Application.index()"><img src="layout/images/spacer.gif" alt="WebSplash" title="WebSplash" /></a></p>
                    </div>
                    <div id="main_menu">
                        <ul>
                            <li><a href="@routes.Application.index()">Главная</a>
                            </li>
                            <li class="active"><a href="@routes.Application.about()">О нас</a></li>
                            <li><a href="@routes.Staff.list()">Сотрудники</a></li>
                            <li><a href="@routes.Application.contacts()">Контакты</a></li>
                            <li><a href="@routes.News.list2()">Новости</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <!-- HEADER END -->

        <header class="topbar">
            <h1 class="fill">
                <a>О нас</a>
            </h1>
        </header>


    </body>
</html>


