@(qForm: Form[City])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <div id="edit_main">

    <h1>Добавить город</h1>

    @helper.form(action = routes.CityController.cityForm(), 'enctype -> "multipart/form-data") {
        <fieldset>
            @inputText(qForm("title"), '_label -> "Город", '_help -> "")
            @inputDate(qForm("creationDate"), '_label -> "Дата", '_help -> "")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Добавить город" class="btn success"> или
            <a href="@routes.CityController.cityList()" class="btn">Отмена</a>
        </div>
    }
    </div>

}
