@(qForm: Form[Payment])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <div id="edit_main">

    <h1>Добавить платеж</h1>

    @helper.form(action = routes.PaymentsController.paymentsForm(), 'enctype -> "multipart/form-data") {
        <fieldset>
            @inputDate(qForm("date"), '_label -> "Дата", '_help -> "")
            @select(
                qForm("paymentMethod"),
                Seq(
                    "VISA" -> "VISA",
                    "PAYPAL" -> "PAYPAL"
                ),
                '_label -> "Тип", '_default -> "-- Choose payment method --",
                '_showConstraints -> false
            )
            @inputText(qForm("amount"), '_label -> "Сумма", '_help -> "")
            @select(
                qForm("currency"),
                Seq(
                    "USD" -> "USD",
                    "RU" -> "RU"
                ),
                '_label -> "Тип", '_default -> "-- Choose currency --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Добавить платеж" class="btn success"> или
            <a href="@routes.PaymentsController.paymentsList()" class="btn">Отмена</a>
        </div>
    }
    </div>

}
