@(id: Long, alertsForm: Form[Alert])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <div id="edit_main">

    <h1>Редактировать уведомление</h1>

    <div id="remove_button">
    @form(routes.Notifications.delete(id), 'class -> "topRight") {
        <input type="submit" value="Удалить уведомление" class="btn danger">
    }
    </div>

    @form(routes.Notifications.update(id)) {
        <fieldset>
            @inputText(alertsForm("title"), '_label -> "Название", '_help -> "")
            @textarea(alertsForm("description"), '_label -> "Описание", '_help -> "")
            @select(
                alertsForm("notificationType"),
                Seq(
                    "alert" -> "alert",
                    "offer" -> "offer"
                ),
                '_label -> "Вид уведомления", '_default -> "-- Choose a notification type --",
                '_showConstraints -> false
            )
            @select(
                alertsForm("action"),
                Seq(
                    "payment" -> "payment",
                    "details" -> "details",
                    "appointment" -> "appointment"
                ),
                '_label -> "Action", '_default -> "-- Choose an action --",
                '_showConstraints -> false
            )
        </fieldset>

        <div class="actions">
            <input type="submit" value="Сохранить уведомление" class="btn success"> или
            <a href="@routes.Notifications.list4()" class="btn">Отмена</a>
        </div>
    }
    </div>
}
