@(id: Long, qForm: Form[Question])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <div id="edit_main">

    <h1>Редактировать вопрос</h1>

    <div id="remove_button">
    @form(routes.QuestionController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Удалить вопрос" class="btn danger">
    }
    </div>

    @form(routes.QuestionController.update(id)) {

        <fieldset>
            @inputText(qForm("question"), '_label -> "Вопрос", '_help -> "")
            @textarea(qForm("answer"), '_label -> "Ответ", '_help -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Сохранить вопрос" class="btn success"> или
            <a href="@routes.QuestionController.questionList()" class="btn">Отмена</a>
        </div>

    }

    </div>

}
