@(id: Long, qForm: Form[PaymentSchedule])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    <div id="edit_main">

    <h1>Редактировать</h1>

    <div id="remove_button">
    @form(routes.PaymentScheduleController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Удалить" class="btn danger">
    }
    </div>

    @form(routes.PaymentScheduleController.update(id)) {
        <fieldset>
            @inputText(qForm("title"), '_label -> "Сумма", '_help -> "")
            @inputDate(qForm("date"), '_label -> "Дата", '_help -> "")
            @inputText(qForm("amount"), '_label -> "Сумма", '_help -> "")
            @select(
                qForm("currency"),
                Seq(
                    "USD" -> "USD",
                    "RU" -> "RU"
                ),
                '_label -> "Тип", '_default -> "-- Choose currency --",
                '_showConstraints -> false
            )
            @select(
                qForm("action"),
                Seq(
                    "payment" -> "payment"
                ),
                '_label -> "Action", '_default -> "-- Choose an action --",
                '_showConstraints -> false
            )
        </fieldset>

        <div class="actions">
            <input type="submit" value="Сохранить" class="btn success"> или
            <a href="@routes.PaymentScheduleController.schedulesList()" class="btn">Отмена</a>
        </div>

    }

    </div>

}
